body {
  font-family: 'Raleway', sans-serif
}

.bg-primary {
  background-color: #013243!important;
}

.btn-primary {
  color: #fff;
  background-color: #96281B;
  border-color: #96281B;
}

a {
  color: #96281B;
}

.row {
  margin: 0px;
}

.col-md-12 {
  padding: 0px;
}

.row.intro {
  padding: 0 1%;
}

.navbar-brand {
  font-size: 150%;
  font-weight: 900;
  border: 2px solid #fff;
  padding: 0 5px;
}

.category {
  font-weight: 700;
  padding: 5px 0;
  margin: 0;
}

.row.list-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
}

.card {
  width: 220px;
  padding: 10px;
  margin: 15px;
  align-items: center;
}

.card-img-top {
  padding-bottom: 4px;
}

.product-name {
  font-size: 90%;
  font-weight: 400;
  padding-bottom: 2px;
  margin-bottom: 0;
}

.price {
  font-size: 135%;
  font-weight: 700;
  margin: 0;
}

footer {
  margin: 0 auto;
}

.creator {
  padding: 0;
  margin: 0;
  font-size: 90%;
}